@import './reset.css';

#app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-size: 0;
}

// 玻璃材质
.glass-material {
  // 背景模糊
  backdrop-filter: blur(24px);
  // 背景渐变
  background: linear-gradient(
    134.04deg,
    rgba(255, 255, 255, 0.5) -20.156%,
    rgba(235, 235, 235, 0.37) 3.958%,
    rgba(224, 224, 224, 0.29) 13.659%,
    rgba(212, 212, 212, 0.21) 27.796%,
    rgba(207, 207, 207, 0.18) 37.636%,
    rgba(202, 202, 202, 0.14) 44.239%,
    rgba(200, 200, 200, 0.13) 50.409%,
    rgba(196, 196, 196, 0.1) 60.112%
  );
  // 边框
  border-radius: 30px;
  border: 1px solid #999999ad;
  // 阴影
  box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.18);
}

// 自定义鼠标样式
#cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 25px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.1s ease-in-out;
  transition-property: background, opacity, transform;
}
#cursor.hidden {
  opacity: 0;
}
#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
}
